.section-posts {
  margin-bottom: var(--gap--medium);
}

.section-posts h2 {
  font-size: var(--font-size--large);

  margin-bottom: var(--gap--normal);
}

.not-found {
  font-size: var(--font-size--normal);
  text-align: center;
}
