.post {
  list-style: none;
}

.post a {
  color: inherit;
}

.image {
  border-radius: 0.6rem;

  overflow: hidden;

  margin-bottom: var(--gap--tiny);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--extra-tiny);
}

.content h3 {
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--bold);
}

.content time {
  font-size: var(--font-size--small);
}

.content p {
  font-size: var(--font-size--normal);
  color: var(--font-color--secondary);
  line-height: var(--line-height--medium);
  letter-spacing: 0.5px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* number of lines to show */
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
