.layout {
  height: 100vh;
  display: flex;
  position: relative;
}

/* MAIN NAVIGATION WIDTH: 24VW */
.main-container {
  width: auto;

  padding: 3.2rem 6.4rem;

  position: absolute;
  left: 24vw;
}

/* TODO RESPONSIVENESS */
@media (max-width: 80em) {
  .main-container {
    left: 28vw;
  }
}

@media (max-width: 959px) {
  .main-container {
    width: 100vw;
    left: 0;

    padding: 2.4rem;
    margin-top: 4.8rem;
  }
}
