.layout {
  height: 100vh;
  width: 100vw;

  display: flex;

  position: relative;
}

/* MAIN NAVIGATION WIDTH 24VW */
.main-container {
  width: 76vw;

  position: absolute;
  left: 24vw;

  padding: 2.4rem 6.4rem;
}
