.layout {
  height: 100vh;
  display: flex;
  position: relative;
}

/* MAIN NAVIGATION WIDTH: 24VW */
.main-container {
  width: auto;

  padding: 3.2rem 6.4rem;

  position: absolute;
  left: 24vw;

  /* FIXME DELET LINES BELOW */
  /* border-top: 2px solid red; */
  /* background-color: antiquewhite; */
  /* z-index: 99; */
  /* display: none; */
}

/* TODO RESPONSIVENESS */
@media (max-width: 80em) {
  .main-container {
    left: 28vw;
  }
}

@media (max-width: 60em) {
  .main-container {
    width: 100vw;
    left: 0;

    padding: var(--gap--small);
    margin-top: 7.2rem;
  }
}
