.logo {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--gap--tiny);

  color: var(--font-color);
}

.image {
  font-size: var(--font-size--medium);
}

.text {
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--bold);

  display: flex;
  gap: var(--gap--extra-tiny);
}

.text span {
  font-size: var(--font-size--tiny);
  font-weight: var(--font-weight--medium);
}
