.container {
  width: 24vw;
  min-width: 30rem;
  max-width: 36rem;
  height: 100vh;

  padding: var(--gap--normal);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--shadow--primary);

  background-color: var(--background-color);
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap--small);
}

/* LOGO */
.logo-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap--extra-tiny);
}

.logo-text {
  font-size: var(--font-size--small);
  color: var(--font-color);
}

/* SEARCH & FILTER */
.search-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap--tiny);
}

/* NAVIGATION */

.nav-container ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap--extra-small);
}

.nav-subcontainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap--tiny);

  margin-bottom: var(--gap--extra-tiny);
}

.nav-title {
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--medium);
  color: rgba(var(--font-color--rgb), 0.6);
  text-transform: uppercase;
}

.nav-subcontainer li {
  display: flex;
  gap: var(--gap--extra-small);

  list-style: none;
  padding: var(--gap--extra-tiny);

  color: var(--font-color);
  border-radius: 0.4rem;

  transition: all 0.3s ease-in-out;
}

.nav-subcontainer li:hover {
  background-color: var(--font-color);
  color: var(--background-color);
}

.nav-subcontainer a,
.nav-subcontainer svg {
  color: inherit;
}

.nav-subcontainer a {
  font-size: var(--font-size--normal);
}

.nav-subcontainer svg {
  font-size: var(--font-size--medium);
}

.nav-subcontainer a {
  width: 100%;
}

/* CTA */
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap--tiny);
}

.cta-container li {
  width: 100%;
  padding: var(--gap--tiny) 0;

  list-style: none;

  font-size: var(--font-size--normal);
  font-weight: var(--font-weight--medium);
  color: var(--font-color);
  text-align: center;

  border: solid 1px rgba(var(--font-color--rgb), 0.4);
  border-radius: 0.4rem;

  transition: all 0.3s ease-in-out;
}

.cta-container li:hover {
  border-color: var(--font-color);
  background-color: var(--font-color);
  color: var(--background-color);
}

.cta-container li a,
.cta-container li button {
  color: inherit;
}

.cta-container li button {
  font: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

/* FOOTER */

/* RESPONSIVENESS */
@media (max-width: 60em) {
  .container {
    padding: var(--gap--small);
  }

  .logo-container {
    margin-left: var(--gap--medium);
    letter-spacing: -0.2px;
  }
}
