.container {
  margin-bottom: var(--gap--normal);
}

.image {
  border-radius: 0.6rem;
  overflow: hidden;

  margin-bottom: var(--gap--extra-small);
}

.title {
  font-size: var(--font-size--large);
  font-weight: var(--font-weight--bold);
  margin-bottom: var(--gap--extra-tiny);
}

.info {
  font-size: var(--font-size--small);
}
