.container {
  margin-bottom: var(--gap--normal);
}

.post-container {
  width: 78%;
  margin: 0 auto;

  font-size: var(--font-size--normal);
  line-height: var(--line-height--default);
}

.post-container h2 {
  font-size: var(--font-size--medium);
  margin-top: var(--gap--normal);
  margin-bottom: var(--gap--extra-small);
}

.post-container ul,
.post-container ol {
  margin-top: var(--gap--extra-small);
  margin-left: var(--gap--small);
}

.post-container .image {
  text-align: center;

  margin: var(--gap--extra-small) 0;
}

/* RESPONSIVENESS */
@media (max-width: 32em) {
  .post-container {
    width: 100%;
  }
}
