.image {
  border-radius: 0.6rem;

  overflow: hidden;

  margin-bottom: 1.2rem;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
}

.date-duration {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}
