.section-hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap--normal);

  margin-bottom: var(--gap--medium);
}

/* TITLE */
.title {
  color: var(--font-color);
}

.title h2 {
  font-size: var(--font-size--huge);
  display: flex;
  gap: var(--gap--extra-tiny);
}

.title span {
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--medium);
}

.title p {
  font-size: var(--font-size--normal);

  line-height: var(--line-height--default);
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--normal);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap--tiny);
}

.container h3 {
  font-size: var(--font-size--medium);

  margin-bottom: var(--gap--extra-tiny);
}

.container p {
  font-size: var(--font-size--normal);
}
.container p span {
  font-weight: var(--font-weight--medium);
}

/* DISCLAIM */
.disclaim h3 {
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--medium);
}

.disclaim p {
  font-size: var(--font-size--small);
}
