.section-hero {
  margin-bottom: var(--gap--medium);
}

.section-hero h2 {
  font-size: var(--font-size--huge);

  margin-bottom: var(--gap--normal);
}

.section-hero p {
  font-size: var(--font-size--normal);
  line-height: var(--line-height--default);

  margin-bottom: var(--gap--extra-small);
}
