.section-subscription {
  max-width: 56rem;

  padding: var(--gap--small) var(--gap--normal);

  display: flex;
  flex-direction: column;
  gap: var(--gap--tiny);

  box-shadow: var(--shadow--primary);
  background-color: var(--background-color);
  border-radius: 0.4rem;
  border: 1px solid rgba(var(--font-color--rgb), 0.2);

  margin-bottom: var(--gap--medium);
}

.section-subscription h2 {
  font-size: var(--font-size--medium);
}

.section-subscription p {
  font-size: var(--font-size--small);

  margin-bottom: var(--gap--small);
}

.form {
  display: flex;
  gap: var(--gap--tiny);

  font-size: var(--font-size--normal);
}

.form label {
  display: none;
}

.form input,
.form button {
  font-size: var(--font-size--normal);
  padding: var(--gap--tiny) 0;

  border: solid 1px rgba(var(--font-color--rgb), 0.4);
  border-radius: 0.4rem;
  background-color: var(--background-color);
  padding: var(--gap--tiny);

  transition: all 0.3s ease-in-out;
}

.form input:hover,
.form button:hover {
  border-color: var(--font-color);
}

.form input {
  width: 100%;
}

/* PLACEHOLDER STYLING */
.form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(var(--font-color--rgb), 0.6);
}

.form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(var(--font-color--rgb), 0.6);
}

.form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(var(--font-color--rgb), 0.6);
}

.form button {
  cursor: pointer;

  font-weight: var(--font-weight--medium);
  color: var(--font-color);

  padding: var(--gap--tiny) var(--gap--small);
}

.form button:hover {
  background-color: var(--font-color);
  color: var(--background-color);
}

@media (max-width: 60em) {
  .section-subscription {
    width: 100%;
    margin: 0 auto var(--gap--medium);
  }
}
